@font-face {
    font-family: "Gilroy";
    src:
        url("../storage/fonts/Gilroy-Regular.ttf") format("ttf"),
        url("../storage/fonts/Gilroy-Bold.ttf") format("ttf"),
        url("../storage/fonts/Gilroy-Extrabold.ttf") format("ttf"),
        url("../storage/fonts/Gilroy-Light.ttf") format("ttf"),
        url("../storage/fonts/Gilroy-Medium.ttf") format("ttf"),
        url("../storage/fonts/Gilroy-Heavy.ttf") format("ttf"),
        url("../storage/fonts/Gilroy-Semibold.ttf") format("ttf");
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    scroll-behavior: smooth;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* ------------ styles ------------ */

body {
    font-family: "Gilroy", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1920px;
    margin: 0 auto;
}

/* ------------ header ------------ */

.header-container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 20px;
    margin-bottom: 142px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.header-logo {
    max-width: 260px;
    max-height: 116px;
    transition: 0.5s;
}

.header-logo:hover {
    opacity: 0.75;
    transition: 0.3s;
    scale: 0.95;
}

.header-navbar {
    width: 30%;
}

.header-icons {
    width: 10%;
}

.navbar-ul {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
}

.header-icons-ul {
    display: flex;
    justify-content: space-between;
    /* font-size: 25px; */
}

.header-icons-ul img {
    max-width: 32px;
    max-height: 32px;
    cursor: pointer;
}

.navbar-link,
.header-icons-link {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-weight: 500;
}

.navbar-link:hover {
    border-bottom: #F9B300 2px solid;
}

/* ------------ welcome ------------ */

.main-container {
    padding-left: 120px;
    padding-right: 120px;
}

.welcome {
    margin-bottom: 100px;
}

.welcome-coffee-beans {
    position: absolute;
    margin-left: 800px;
    margin-top: -80px;
}

.welcome-coffee-cup {
    position: absolute;
    margin-left: 860px;
}

.welcome-bg-spot-1 {
    position: absolute;
    z-index: -1;
    top: 0;
    margin-left: 1072px;
}

.welcome h1 {
    font-size: 80px;
    font-style: normal;
    font-weight: 900;
    margin-bottom: 60px;
}

.welcome-p1,
.welcome-p2 {
    font-size: 25px;
    font-weight: 500;
    max-width: 600px;
    line-height: 32px;
}

.welcome-p1 {
    margin-bottom: 30px;
}

.welcome-p2 {
    margin-bottom: 90px;
}

.welcome span {
    font-size: 25px;
    font-weight: 700;
}

.show-catalog {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background-color: #F9B300;
    border-radius: 5px;
    padding: 22px 56px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    text-decoration: none;
}

.show-catalog:hover {
    transition: 0.3s;
    background-color: #E2A300;
}

/* ------------ catalogs ------------ */

.catalogs {
    margin-bottom: 90px;
}

.catalogs-bg-spot-2 {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: 176px;
}

.catalogs h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 84px;
    padding-top: 176px;
}

.catalogs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.catalog-el {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(146, 146, 146, 0.20);
    height: 540px;
    width: 24%;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    flex-direction: column;
    color: #000;
    text-align: center;
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}

.catalog-el-img-1 {
    margin-top: 67px;
    margin-bottom: 85px;
}

.catalog-el-img-2 {
    margin-top: 40px;
    margin-bottom: 46px;
}

.catalog-el-img-3 {
    margin-top: 60px;
    margin-bottom: 51px;
}

.catalog-el-img-4 {
    margin-top: 94px;
    margin-bottom: 84px;
}

.catalog-el p {
    margin-bottom: 40px;
}

.catalog-el a {
    width: 329px;
    height: 44px;
    border-radius: 5px;
    background: #F9B300;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    padding-top: 16px;
    text-decoration: none;
}

.catalog-el a:hover {
    transition: 0.3s;
    background-color: #E2A300;
}

/* cover-movement */

#catalog-el-1:hover {
    transition: 0.5s;
    margin-top: -50px;
}

#catalog-el-2:hover {
    transition: 0.5s;
    margin-top: -50px;
}

#catalog-el-3:hover {
    transition: 0.5s;
    margin-top: -50px;
}

#catalog-el-4:hover {
    transition: 0.5s;
    margin-top: -50px;
}

/* ------------ discount ------------ */

.discount-goods {
    margin-bottom: 80px;
}

.discount-ico {
    background-color: #F9B300;
    color: #000;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    font-weight: 700;
    border-radius: 50%;
    margin-top: -38px;
}

.discount-goods h2 {
    font-size: 50px;
    font-weight: 900;
    text-align: right;
    margin-bottom: 50px;
}

.discount-goods-desc {
    text-align: right;
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
    padding-left: 30%;
    margin-bottom: 80px;
}

.discount-goods-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
}

.discount-good-el {
    height: 652px;
    width: 400px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 20px 0px rgba(146, 146, 146, 0.25);
    margin: 0 10px;
}

.discount-good-el select,
.fried-coffee-card select {
    border-radius: 5px;
    border: 1px solid #F9B300;
    background: #FFF7E1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 132px;
    height: 32px;
    margin-bottom: 64px;
    outline: none;
}

.discount-el-colums {
    display: flex;
}

.discount-column-1,
.discount-column-2 {
    width: 162px;
}

.discount-column-1 {
    padding-left: 38px;
}

.discount-column-1 img {
    width: 172px;
    height: 312px;
}

.discount-column-2 {
    margin-top: 20px;
    padding-right: 38px;
    margin-left: 20px;
    margin-bottom: 16px;
}

.discount-column-2 p {
    font-size: 18px;
    padding: 0;
    text-align: left;
    color: #222;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.span-14px {
    color: #5B5B5B;
    font-size: 14px;
    font-weight: 500;
}

.bold {
    font-weight: 700;
    font-size: 20px;
}

.temp-coffee-stat {
    margin-bottom: 15px;
}

.temp-coffee-rating {
    margin: 28px 0;
}

.good-stat-desc {
    color: #222;
    font-size: 18px;
    font-weight: 500;
}

.discount-column-1 p {
    color: #F9B300;
    font-size: 18px;
    font-weight: 700;
    text-align: left;
    margin-top: 16px;
    padding-left: 0;
    margin-bottom: 20px;
}

.discount-good-bottom {
    margin-left: 38px;
}

.discount-good-bottom h3 {
    color: #222;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 10px;
}

.discount-good-bottom-desc {
    font-size: 18px;
    font-weight: 500;
    max-width: 232px;
    margin-bottom: 8px;
}

.crossed-price {
    margin: 0;
    color: #C6C6C6;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: -12px;
    text-decoration: line-through;
}

.discount-price-container {
    display: flex;
    align-items: center;
}

.discount-price-container p {
    color: #222;
    font-size: 35px;
    font-weight: 900;
}

.discount-price-container span {
    font-weight: 700;
}

.discount-price-container button {
    margin-left: 52px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    width: 178px;
    height: 48px;
    border-radius: 5px;
    background: #F9B300;
    border: none;
    transition: 0.5s;
    cursor: pointer;
}

.discount-price-container button:hover {
    transition: 0.3s;
    background-color: #E2A300;
}

.discount-goods-nav-left,
.discount-goods-nav-right {
    width: 70px;
    height: 70px;
    margin: 0 60px;
    border-radius: 50%;
    border: none;
    background-color: #F9B300;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.discount-goods-nav-left:hover,
.discount-goods-nav-right:hover {
    transition: 0.3s;
    background-color: #E2A300;
}

.discount-see-all {
    text-align: right;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-right: 200px;
}

.discount-link {
    font-size: 20px;
    color: #000;
    transition: 0.5s;
}

.benefits {
    padding-left: 50%;
    margin-right: 160px;
    margin-bottom: 280px;
    /* background-color: #FFF7E1; */
}

/* ------------ benefits ------------ */

.benefits-coffee-beans {
    position: absolute;

    margin-left: -840px;
    margin-top: 40px;
}

.benefits-coffee-cup {
    position: absolute;
    margin-left: -836px;
    margin-top: 200px;
}

.bg-benefits {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: -136px;
}

.benefits h2 {
    font-size: 50px;
    font-weight: 900;
    line-height: normal;
    margin-bottom: 80px;
}

.benefits-el {
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.benefits-desc h3 {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px
}

.benefits-desc p {
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
}

.benefits-el img {
    margin-right: 50px;
    max-width: 84px;
    max-height: 84px;
}

/* ------------ fry method ------------ */

.fry-method-container {
    /* background-color: #bd9100; */
    /* temp */
    margin-bottom: 188px;
    margin-right: 400px;
}

.fry-method-container img {
    position: absolute;
    margin-left: -120px;
    z-index: -2;
    margin-top: -804px;
}

.fry-method-container h2 {
    color: #FFF;
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 100px;
}

.fry-method-container p {
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
    margin-bottom: 40px;
}

.fry-method-container button {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    background-color: #F9B300;
    border-radius: 5px;
    width: 400px;
    height: 80px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 60px;
}

.fry-method-container button:hover {
    transition: 0.3s;
    background-color: #E2A300;
}

/* ------------ news ------------ */

.news-container {
    margin-bottom: 80px;
}

.news-bg-wave {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: 120px;
}

.news-bg-rect {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: 416px;
}

.news-header img {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: -332px;
}

.news-header {
    margin-bottom: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.news-header h2 {
    font-size: 50px;
    font-weight: 900;
}

.news-header a {
    color: #000;
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
    text-decoration-line: underline;
    transition: 0.5s;
    margin-top: 30px;
}

.discount-link:hover,
.news-header a:hover {
    opacity: 0.6;
    transition: 0.3s;
}

.news-block-1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.news-block-2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.news-el-1,
.news-el-2 {
    border-radius: 20px;
    background: #FFF;
    flex-shrink: 0;
    box-shadow: 0px 0px 30px 0px rgba(146, 146, 146, 0.20);
}

.news-el-1 {
    width: 960px;
    height: 400px;
    display: flex;
}

.news-el-1-desc {
    padding: 40px 80px;
}

.news-el-1-desc h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    margin-bottom: 30px;
}

.news-el-1-desc p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 30px;
}

.news-el-1-desc a {
    color: #F9B300;
    font-size: 20px;
    font-weight: 500;
}

.news-el-2 {
    padding: 60px 120px;
    width: 440px;
    height: 280px;
}

.news-el-2 h3 {
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    margin-bottom: 40px;
}

.news-el-2 p {
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 50px;
}

.news-el-2 a {
    color: #F9B300;
    font-size: 20px;
    font-weight: 500;
}

/* ------------ social media ------------ */

.social-media-container {
    margin-bottom: 260px;
}

.sm-bg-rect {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: 768px;
}

.sm-bg-rect-2 {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: 468px;
}

.sm-bg-wave {
    position: absolute;
    z-index: -1;
    margin-left: -120px;
    margin-top: 1132px;
}

.social-media-desc {
    display: flex;
    align-items: center;
    margin-bottom: 60px;
}

.social-media-desc h2 {
    font-size: 50px;
    font-weight: 900;
    margin-right: 54px;
}

.ig-posts {
    overflow-x: hidden;
    display: flex;
}

.ig-post {
    width: 400px;
    margin: 10px;
    height: 382px;
    border-radius: 10px;
    background: #E9E9E9;
}

.social-media-content {
    display: flex;
}

.social-media-posts {
    margin-left: -300px;
}

.social-media-iphone {
    margin-top: -50px;
}

.iphone-2 {
    scale: 0.85;
    margin-top: -750px;
    margin-left: 100px;
}

.social-arrow-link {
    width: 70px;
    height: 70px;
    color: #F9B300;
    z-index: 3;
    position: absolute;
    border: 50%;
    /* background-color: #fff; */
    right: 52px;
    margin-top: 364px;
    cursor: pointer;
}

/* ------------ subscription ------------ */

.subscription-container {
    margin-bottom: 188px;
}

.sc-thx {
    /* display: none; */
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    width: 1224px;
    height: 30px;
    border-radius: 40px;
    background: #F9B300;
    position: absolute;
    text-align: center;
    padding: 25px 0;
    ;
}

.sc-coffee-beans {
    position: absolute;
    width: 832px;
    height: 573px;
    margin-left: 1100px;
    margin-top: -200px;
    z-index: -1;
}

.sc-coffee-cup {
    position: absolute;
    width: 682px;
    height: 455px;
    margin-left: 1160px;
    margin-top: -200px;
    z-index: -1;
}

.subscription-container h2 {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 50px;
}

.subscription-container p {
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
    width: 900px;
    margin-bottom: 60px;
}

.email-input {
    border-radius: 40px;
    background: #F3F3F3;
    font-size: 25px;
    font-weight: 500;
    border: none;
    padding: 24px 60px;
    width: 1100px;
    margin-bottom: 20px;

}

.email-input:focus {
    outline: none;
}

input::placeholder {
    color: #C9C9C9;
}

.email-desc p {
    color: #5B5B5B;
    font-size: 16px;
    font-weight: 500;
    line-height: 20.8px
}

.email-desc a {
    color: #F9B300;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
    transition: 0.5s;
    text-decoration: none;
}

.email-desc a:hover {
    transition: 0.3s;
    color: #E2A300;
}

.email-form button {
    background-color: #F9B300;
    border: none;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    padding: 25px 53px;
    border-radius: 40px;
    width: 260px;
    height: 80px;
    margin-left: -260px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 3;
}

.email-form button:hover {
    transition: 0.3s;
    background-color: #E2A300;
}

.email-form button:active .sc-thx {
    display: none;
}

/* ------------ footer ------------ */

footer {
    padding-left: 120px;
    padding-right: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 50px;
}

/* ------------ tea categories ------------ */

.main-container-tea {
    padding-left: 120px;
    padding-right: 120px;
    background-color: #F5F5F5;
}

.tea-categories {
    margin-bottom: 70px;
}

.tea-h1 {
    margin-top: 50px;
    color: #FFF;
    font-size: 70px;
    font-weight: 900;
    margin-bottom: 105px;
    z-index: 5;
    position: relative;
}

.tea-categories-bg-rect {
    position: absolute;
    margin-left: -120px;
    top: 172px;
    z-index: 0;
}

.tea-categories-bg-wave {
    position: absolute;
    margin-left: -120px;
    top: 640px;
    z-index: 0;
}

.tea-categories-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tea-category {
    width: 392px;
    height: 320px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(149, 149, 149, 0.25);
    margin: 15px 10px;
    z-index: 1;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.tea-category:hover {
    transition: 0.5s;
    margin-top: -5px;
}

.tea-sort {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    text-decoration-line: underline;
    margin-bottom: 60px;
    cursor: pointer;
    margin-bottom: 68px;
}

/* .tea-sort:hover {

} */

.tea-categories-img {
    position: absolute;
    margin-top: -290px;
    margin-left: 1100px;
}

.tea-cards-container {
    display: flex;
    flex-wrap: wrap;
}

.tea-card {
    margin-bottom: 70px;
    margin-right: 10px;
    margin-left: 10px;
    width: 312px;
    height: 621px;
    border-radius: 20px;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 30px;
}

#tea-catalog-show-more {
    width: 1660px;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    margin-bottom: 312px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s;
}

#tea-catalog-show-more:hover {
    border-radius: 10px;
    border: 1px solid #E4E4E4;
    background: #FFF7E1;
    transition: 0.5s;
}

.catalog-wave-gray {
    position: absolute;
    margin-left: -1780px;
    z-index: 1;
    margin-top: 140px;
}

.catalog-wave-orange {
    position: absolute;
    margin-left: -1780px;
    z-index: 0;
    margin-top: 160px;
}

.ei-tea-catalog {
    background-color: #fff;
}

.display-flex {
    display: flex;
}

.weight-select {
    border-radius: 5px;
    border: 1px solid #F9B300;
    background: #FFF7E1;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 132px;
    height: 32px;
    margin-bottom: 64px;
    outline: none;
}

.add-to-cart-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    background: #F9B300;
    width: 178px;
    height: 48px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.add-to-cart-btn:hover {
    transition: 0.3s;
    background: #E2A300;
}

.tea-card-price {
    color: #222;
    font-size: 35px;
    font-weight: 900;
    padding-top: 4px;
}

.tea-card-price span {
    font-weight: 700;
}

.tea-card-desc {
    color: #222;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 30px;
}

.tea-card-name {
    color: #222;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 30px;
}

.tea-card-column img {
    margin-bottom: 12px;
}

.tea-card-picture {
    width: 223px;
    height: 312px;
    margin-left: 42px;
    margin-top: -20px;
    margin-bottom: 22px;
}

.space-between {
    justify-content: space-between;
}

.tea-category img {
    width: 142.857px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.tea-category h3 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
}

.vending-category img {
    width: 331px;
    height: 175px;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 55px;
}

.vending-category h3 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
}

.vending-category {
    width: 392px;
    height: 320px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(149, 149, 149, 0.25);
    margin: 15px 10px;
    z-index: 1;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
}

.vending-category:hover {
    transition: 0.5s;
    margin-top: -5px;
}

.vending-categories-img {
    position: absolute;
    margin-top: -160px;
    margin-left: 1180px;
}

.order-vending-btn {
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    background: #F9B300;
    width: 320px;
    height: 48px;
    border: none;
    cursor: pointer;
    transition: 0.5s;
}

.order-vending-btn:hover {
    transition: 0.3s;
    background: #E2A300;
}

.vending-card-picture {
    width: 320px;
    height: 250px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.hf-category {
    width: 532px;
    height: 320px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(149, 149, 149, 0.25);
    margin: 15px 10px;
    z-index: 1;
    align-items: center;
    text-align: center;
    transition: 0.5s;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.hf-category:hover {
    transition: 0.5s;
    margin-top: -5px;
}

.hf-category img {
    margin-left: 64px;
    margin-right: 36px;
}

.hf-category h3 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    text-align: left;
    max-width: 225px;
}

.hf-categories-img {
    z-index: 1;
    margin-left: 40px;
}

.hf-card-picture {
    margin-left: 68px;
    width: 182px;
    height: 279px;
    margin-bottom: 36px;
}

.blog-top-buttons-container button {
    width: 540px;
    height: 60px;
    color: #F9B300;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    background: #F6F6F6;
    cursor: pointer;
    margin-top: -80px;
}

.blog-top-buttons-container {
    margin-bottom: 70px;
}

.blog-education h2,
.blog-news-container h2,
.blog-questions-container h2 {
    color: #000;
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 50px;
}

.blog-education-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 110px;
}

.blog-edu-nav-button {
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(149, 149, 149, 0.25);
    width: 189px;
    height: 190px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor: pointer;
}

.blog-edu-nav-button p {
    margin-top: 28px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.blog-edu-turka-desc {
    margin-top: 10px;
    margin-bottom: 50px;

}

.blog-edu-turka-desc p {
    margin-bottom: 20px;
    width: 1380px;
    color: #222;
    font-size: 25px;
    font-weight: 500;
    line-height: 32.5px;
}

.blog-edu-splitter {
    margin-bottom: 60px;
}

.blog-education {
    margin-bottom: 90px;
}

.blog-news-el {
    width: 1660px;
    height: 400px;
    display: flex;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(146, 146, 146, 0.20);
    margin-bottom: 50px;
}

.blog-news-el-content {
    padding-left: 70px;
}

.blog-news-el-content-header {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
    margin-top: 40px;
    margin-bottom: 62px;
}

.blog-news-el-content p {
    margin-bottom: 20px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    max-width: 827px;
    line-height: 26px;
}

.blog-news-author {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    line-height: 32.5px;
}

.blog-news-el-bottom {
    margin-top: 84px;
    align-items: center;
}

.blog-news-el-bottom a {
    color: #F9B300;
    font-size: 20px;
    font-weight: 500;
}

.blog-questions-container {
    width: 100%;
    margin-top: -140px;
    margin-bottom: 240px;
}

.questions-list {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-end;
}

.question-el {
    width: 960px;
    height: 110px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(149, 149, 149, 0.25);
    margin-bottom: 30px;
    color: #000;
    font-size: 25px;
    font-weight: 600;
    line-height: 32.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.blog-qc-coffee-beans {
    position: absolute;
    margin-top: 40px;
    width: 971px;
    height: 645.69px;
}

.blog-qc-coffee-cup {
    position: absolute;
    margin-top: 240px;
    width: 648.976px;
    height: 558.613px;
    margin-left: 20px;
}

.blog-qc-bg {
    position: absolute;
    z-index: -2;
    margin-left: -120px;
    margin-top: -80px;
}

.contacts-top-buttons-container button {
    width: 820px;
    height: 60px;
    border-radius: 5px;
    border: 1px solid #C9C9C9;
    background: #F6F6F6;
    color: #F9B300;
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 600;
    margin-top: -80px;
    cursor: pointer;
}

.contacts-content h2 {
    margin-top: 70px;
    color: #000;
    font-size: 30px;
    font-weight: 900;
}

.contacts-content p {
    color: #222;
    font-size: 20px;
    font-weight: 500;
    line-height: 26px;
    max-width: 537px;
    margin-top: 20px;
}

.contacts-content a {
    text-decoration: none;
    color: #000;
}

.contacts-map {
    margin-top: 70px;
    width: 960px;
    height: 526px;
    border-radius: 5px;
    border: 1px solid #A4A4A4;
}

.contacts-content {
    margin-bottom: 400px;
}

.header-shadow {
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
}

.wave-contacts-reverse {
    margin-left: -120px;
    position: absolute;
    rotate: 180deg;
    z-index: -2;
    margin-top: -180px;
}

.wave-contacts {
    margin-left: -120px;
    position: absolute;
    margin-top: -460px;
    z-index: -2;
}

.header-search-button:hover {
    visibility: hidden;
}

.fried-coffee-card {
    border-radius: 20px;
    border: 1px solid #E4E4E4;
    background: #FFF;
    width: 400px;
    height: 640px;
    flex-shrink: 0;
    margin: 32px 5px;
}

.fried-coffee-beans {
    position: absolute;
    margin-left: 860px;
    margin-top: -480px;
}

.fried-coffee-cup {
    position: absolute;
    width: 682px;
    height: 455px;
    margin-left: 920px;
    margin-top: -400px;
}

.fc-sort-top {}

.fc-fry-deg {
    width: 340px;
    height: 438px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(149, 149, 149, 0.25);
    margin-bottom: 20px;
    margin-top: 100px;
    z-index: 0;
    padding: 44px 30px;
}

.fc-sort {
    width: 1153px;
    height: 490px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(149, 149, 149, 0.25);
    margin-bottom: 20px;
    margin-top: 100px;
    z-index: 0;
    padding-top: 36px;
    padding-left: 87px;
}

.fc-fry-deg h3 {
    color: #000;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 46px;
}

.vertical-stick-or {
    margin-right: 50px;
}

.fry-desc-deg {
    margin-bottom: 52px;
    display: flex;
    cursor: pointer;
}

.circle-img {
    margin-right: 17px;
}

.coffee-icon-img {
    margin-right: 10px;
}

.fc-sort-column {
    margin-top: 28px;
    width: 24%;
}

.fc-sort-column h4 {
    color: #000;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.fc-sort-column p {
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}

.fc-sort-option{
    cursor: pointer;
    display: flex;
    align-items: center;
}